<title>Pizza Fleet Tracker</title>
<h1>Pizza Fleet Tracker</h1>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<img id="driver" class="driver" src="/img/deliver.svg"/>

<div>
  <div class="house"><img src="/img/house1.png"/>
    <div id="order1" class="order">Delivery: #1</div>
    <div class="driver-name">Driver: Matt</div>
    <div id="time1" class="time"></div>
    <div id="delivered1" class="delivered"></div>
  </div>
  <div class="house"><img src="/img/house2.png"/>
    <div id="order2" class="order">Delivery: #2</div>
    <div class="driver-name">Driver: Matt</div>
    <div id="time2" class="time"></div>
    <div id="delivered2" class="delivered"></div>
  </div>
  <div class="house"><img src="/img/house3.png"/>
    <div id="order3" class="order">Delivery: #3</div>
    <div class="driver-name">Driver: Matt</div>
    <div id="time3" class="time"></div>
    <div id="delivered3" class="delivered"></div>
  </div>
</div>
<script type="text/javascript" src="/js/pizza.js"></script>